html {
  height: 100%;
}
body {

}

* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.editor {
  min-height: 200px;
  border: 1px solid gray;
  display: table;
}

.display-container {
  position: relative;
  overflow: hidden;
  display: table-cell;
  vertical-align: top;
  width: 75%;
  height: 100%;
  border: 1px solid blue;
}

.root-container {
  position: relative;
  overflow: visible;
  background: #eee;

  height: 100%;
  width: 100%;
}

/*
.context-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: visible;
}
*/

.highlighted-box {
  position: absolute;
  /*z-index: 4;*/
  border: 2px solid cyan;
}

.selected-box {
  position: absolute;
  /*z-index: 2;*/
  border: 2px solid lime;
  overflow: visible;
}

.selected-controls {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 0;
  font-size: 10px;
}
.selected-controls button {
  padding: 2px;
  margin: 0;
}

[data-component][data-component="root"] {
  padding: 4px;

  max-height: 400px;
  overflow: auto;
}

[data-component] {
  min-height: 12px;
  position: relative;
  z-index: 1;

  border: 1px solid #ccc;
  padding: 2px;
}

.dragging [data-component] {
  border: 1px solid #ccc;
  min-height: 24px;
  padding: 8px;
}

[data-component].hover {
  /*border: 1px solid cyan;*/
}

.placeholdit-image {
  display: inline-block;
}
/*[data-component="placeholdit.image"] img {*/
.placeholdit-image img {
  display: block;
  margin: auto;
}

.dropover, .dragging [data-component].dropover {
  border: 1px solid lime;
}


.component-ui-container {
  position: absolute;
  z-index: 99;
  border: 2px solid cyan;
  /*box-sizing: content-box;*/
}


.controls {
  display: table-cell;
  width: 25%;
  height: 100%;
  border: 1px solid purple;
}

[data-component-control] {
  border: 1px solid green;
}


.draggable-helper {
  position: relative;
}
.draggable-helper .crosshairs {
  position: absolute;
  top: -6px;
  left: -6px;
}


.footer {
  padding: 12px;
}
